tr(class='availability-item col-md-8 col-md-offset-2')
	th(class='col-md-2')
		div(class='col-md-2') #{nodes}
	td
		div(class='col-md-5') #{rate}
		div(class='col-md-4') #{duration}
		div(class='col-md-1') #{median}